<mat-card>
  <div class="lancamento-box">
    <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar novo lançamento</button>
  <!--   <div class="input_box">
      <mat-form-field>
        <mat-label>Procurar:</mat-label>
        <input matInput type="text" placeholder="Qual registro está buscando ?" (input)="search($event)">
      </mat-form-field>
    </div> -->





  </div>
  <div class="filtro-datas">
 <!--    <mat-form-field>
      <mat-label>Data inicial</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Definir</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> -->

    <mat-form-field >
      <mat-label>Filtre por data</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Data inicial">
        <input matEndDate placeholder="Data final">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>Definir</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>

  </div>
  <table mat-table [dataSource]="lancamentos" class="mat-elevation-z8">
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let lancamento">
        <div *ngIf="lancamento.status == true; else inativo">
          <button style="border-radius: 100% ;height: 20px; width: 20px; background-color: rgb(26, 229, 26);"></button>
        </div>
        <ng-template #inativo>
          <button style="border-radius: 100% ;height: 20px; width: 20px; background-color: rgb(255, 32, 32);"></button>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="Código">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Descrição">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.descricao}} </td>
    </ng-container>
    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.dataLanc}} </td>
    </ng-container>
    <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.valor}} </td>
    </ng-container>
    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let lancamento">
        <button routerLink="/editar/{{lancamento.id}}" mat-raised-button color="accent">Editar</button>
        <button routerLink="/detalhes/{{lancamento.id}}" mat-raised-button>Detalhes</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Excluir">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let lancamento">
        <button mat-raised-button color="warn" (click)="OpenDialog(lancamento.id)">Excluir</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</mat-card>
