.ativo {
  color: green;
  width: 20 px;
  height: 20px;
  display: flex;
  border-radius: 50%;
}

.inativo {
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.funcionario-box {
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 2rem;
}
