<mat-card>
<div>Detalhes Funcionário</div>

<div>
  <form>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput type="text" value="{{funcionario?.nome}}" disabled>
    </mat-form-field>
    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Sobrenome:</mat-label>
      <input matInput type="text" value="{{funcionario?.sobrenome}}" disabled>
      </mat-form-field>
    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Departamento:</mat-label>
      <input matInput type="text" value="{{funcionario?.departamento}}" disabled>
    </mat-form-field>
    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Situação:</mat-label>
      <input matInput type="text" value="{{funcionario?.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
    </mat-form-field>

    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Data de Criação:</mat-label>
      <input matInput type="text" value="{{funcionario?.dataDeCriacao}}" disabled>
    </mat-form-field>
      </div>
    <div class="input_box">
    <mat-form-field>

      <mat-label>Data de Alteração:</mat-label>
      <input matInput type="text" value="{{funcionario?.dataDeAlteracao}}" disabled>
    </mat-form-field>
      </div>
    <div class="btn-box">
      <button (click)="InativaFuncionario()" mat-raised-button color="warn" >Inativar Usuário</button>
      <button routerLink="" mat-raised-button>Voltar</button>
    </div>
  </form>
</div>
</mat-card>
