<mat-card>
<div>Detalhes Lançamento</div>

<div>
  <form>
    <div class="input_box">
      <mat-form-field>
        <mat-label>Código:</mat-label>
        <input matInput type="text" value="{{lancamento?.id}}" disabled>
      </mat-form-field>
      </div>
    <div class="input_box">
      <mat-form-field>
        <mat-label>Status:</mat-label>
        <input matInput type="text" value="{{lancamento?.status == 'Valido' ? 'Válido' : 'Cancelado'}}" disabled>
      </mat-form-field>
      </div>
    <div class="input_box">
      <mat-form-field>
        <mat-label>Tipo:</mat-label>
        <input matInput type="text" value="{{lancamento?.avulso == 'Avulso' ? 'Avulso' : 'Automático'}}" disabled>
      </mat-form-field>
      </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Descrição:</mat-label>
      <input matInput type="text" value="{{lancamento?.descricao}}" disabled>
    </mat-form-field>
    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Valor:</mat-label>
      <input matInput type="text" value="{{lancamento?.valor}}" disabled>
      </mat-form-field>
    </div>
    <div class="input_box">
    <mat-form-field>
      <mat-label>Data de lançamento:</mat-label>
      <input matInput type="text" value="{{lancamento?.dia | date : 'dd/MM/yyyy HH:mm'}}" disabled>
    </mat-form-field>
    </div>
    <div class="btn-box">
      <button (click)="CancelarLancamento()" mat-raised-button color="warn" *ngIf="lancamento?.status == 'Valido' && lancamento?.avulso == 'Avulso'" readonly>Cancelar Lancamento</button>
      <button routerLink="" mat-raised-button>Voltar</button>
    </div>
  </form>
</div>
</mat-card>
