/* You can add global styles to this file, and also import other style files */
html, body{
  justify-self: auto;
  /*font-size: 62.5%;*/
}

mat-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  padding: 3rem;
}

mat-form-field {
  width: 100%;
}

.input_box {
  width: 500px;
}

.btn-box {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button {
  width: 50%;
}
