<mat-card>
<h1 style="color: aliceblue;">{{ btnTitulo}}</h1>

<form [formGroup]="lancamentoForm" (ngSubmit)="submit()" #formDit="ngForm">

  <input type="hidden" formControlName="id">

  <div class="input_box">
    <mat-form-field>
      <mat-label for="">Descrição :</mat-label>
      <input matInput type="text" formControlName="descricao" placeholder="Lançamento de ..." [readonly]="dadosLancamento?.status == 'Valido' && dadosLancamento?.avulso == 'Avulso' || dadosLancamento?.avulso == 'NaoAvulso' ? true : false">
    </mat-form-field>
  </div>

      <input type="hidden" formControlName="status" value="Valido">

      <input type="hidden" formControlName="avulso" value="Avulso">

  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dia">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="input_box" >
    <mat-form-field>
      <mat-label for="">Valor :</mat-label>
      <input matInput type="number" formControlName="valor" placeholder="R$">
    </mat-form-field>
  </div>

<div class="btn-box">
  <button type="submit"  mat-raised-button color="accent" *ngIf="dadosLancamento?.status == 'Valido' && dadosLancamento?.avulso == 'Avulso' || btnAcao === 'Cadastrar Lançamento!'">{{btnAcao}}</button>
  <button routerLink=""  mat-raised-button color="basic">Voltar</button>
</div>

</form>
</mat-card>
